*{
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: #f2e9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box{
  width: 100px;
  height: 500px;
  margin: 10px;
  border-radius: 50px;
  background: url(user.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}
.img-box:nth-child(2){
  background: url(1.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(3){
  background: url(10.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(4){
  background: url(11.jpg);
  background-size: cover;
  background-position: center;
}
.img-box h3{
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
  color: #fff;
}
.img-box:hover{
  width: 300px;
  cursor: pointer;
}
.img-box:hover .one{
  opacity: 1;
  bottom: 25px;
  color: white;
}
.img-box:hover .two{
  opacity: 1;
  bottom: 25px;
  color: black;
}
.img-box:hover .three{
  opacity: 1;
  bottom: 25px;
  color: white;
}
.img-box:hover .four{
  opacity: 1;
  bottom: 25px;
  color: white;
}
